---
import Layout from "../layouts/Layout.astro";
import Header from "../components/interactive/Header.astro";
import Hero from "../components/sections/Hero.astro";
import About from "../components/sections/About.astro";
import StatsBand from "../components/sections/StatsBand.astro";
import Services from "../components/sections/Services.astro";
import Gallery from "../components/sections/Gallery.astro";
import Coverage from "../components/sections/Coverage.astro";
import Contact from "../components/sections/Contact.astro";
import Footer from "../components/sections/Footer.astro";
import WhatsAppFloat from "../components/interactive/WhatsAppFloat.astro";
import ContactFloat from "../components/interactive/ContactFloat.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <About />
    <StatsBand />
    <Services />
    <Gallery />
    <Coverage />
    <Contact />
  </main>
  <Footer />
  <WhatsAppFloat />
  <ContactFloat />
</Layout>
